body {
    background-image: url('../public/leather.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#addressBookContainer, .addressBookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #3a2a1a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: black;
    min-width: 600px;
}

header {
    font-family: 'Playfair Display', serif;
    font-size: 24px; 
    text-align: center;
    margin-bottom: 20px;
}

.searchInput {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.icon-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.icon-button img {
    width: 100px; /* Adjust based on your icon size */
    height: auto;
}

/* Main content area */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #e4d7c5; /* Paper color */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 300px;
    min-width: 500px;
}

.main .contact-name {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
}

.main .contact-details {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: black;
}

.button, .label {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pageButton {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pageButton:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .icon-stack {
        right: 100px; /* Adjust position for smaller screens */
        bottom: 180px;
    }

    .icon-button img {
        width: 50px; /* Smaller icons for smaller screens */
    }

    main {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .icon-stack {
        right: 50px; /* Further adjust for very small screens */
        bottom: 90px;
    }

    .icon-button img {
        width: 40px; /* Even smaller icons for very small screens */
    }

    main {
        padding: 5px; /* Further adjustments for the main area */
    }
}
